@media screen and (min-width: 1000px) {
  .banner {
    flex-direction: row;
    width: 100vw;
    padding-bottom: 0;
  }

  .main-navigation__links-container {
    /* Reset the styling to the initial */
    position: unset;
    min-height: unset;
    background-color: transparent;
    flex-direction: row;
    padding: 0;
    max-width: none;
    box-shadow: none;
  }

  .main-navigation__link {
    font-size: clamp(12px, 14px + 1vw, 16px);
    padding: 0.75em 1.35em;
    border-radius: 1.5em;
    text-align: center;
  }

  .main-navigation__link span {
    display: none;
  }

  .hamburger-btn {
    display: none;
  }

  .advertisement-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .discover-page-container {
    grid-template-columns: 350px 1fr;
    /* grid-auto-rows: 400px; */
  }

  .photo-gallery-container img {
    transition: filter 0.5s ease;
    filter: blur(3px);
  }

  .photo-gallery-container img:hover {
    filter: blur(0);
  }

  .form-page-container {
    flex-direction: row;
    justify-content: center;
  }

  .membership-benefits-container {
    align-items: stretch;
    max-width: 600px;
  }

  .information-sidebar {
    justify-content: flex-start;
  }

  .information-sidebar__card {
    max-width: 300px;
  }

  .company-card-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    width: 1200px;
    max-width: 90%;
    align-content: center;
  }

  table caption {
    font-size: 1.5em;
  }
  table thead {
    display: table-header-group;
  }
  table tr {
    display: table-row;
    border: 0;
  }
  table th,
  table td {
    text-align: center;
  }
  table th {
    font-size: 1em;
    text-transform: uppercase;
  }
  table td {
    font-size: 0.85em;
    display: table-cell;
    padding-block: 1em;
  }
  table td:before {
    display: none;
  }
  table td:last-child {
    border-bottom: 1px solid #eee;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 5em;
  }
}
